* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(47, 66, 104) !important;
}

.page-container {
    margin: 0 100px;
}

.section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 50px 50px 0px;
    display: flex;
    justify-content: space-between;
}

.home {
    font-weight: bolder;
}

.scroll-snap-section {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 100px;
}

.navbar::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
            rgba(10, 30, 60, 0.9) 0%,
            /* Darker starting color (adjust RGB values as needed) */
            rgba(10, 30, 60, 0.4) 50%,
            /* Darker middle color (adjust RGB values as needed) */
            rgba(10, 30, 60, 0) 100%
            /* Darker ending color (adjust RGB values as needed) */
        );
    filter: blur(10px);
    z-index: -1;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    fill: #E6EDF3;
    /* Set the fill color of the icon */
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    margin-top: -100px;
}

.left-column {
    flex: 1;
    padding: 2rem;
}

.right-column {
    flex: 1;
    /* position: sticky; */
    top: 50%;
    padding: 2rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

.hero-text {
    flex: 1;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: #666;
}

.hero-image {
    transition: transform 0.3s ease;
}

.hero-image:hover {
    transform: scale(1.05);
    /* Increase this value for a larger scale */
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.about-me-wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 1140px;
}

.project-container {
    display: flex;
    height: auto;
    max-width: 1140px;
    margin-top: 150px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.columns {
    display: flex;
    width: auto;
    margin: auto 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-items: center;
    align-self: auto;
    flex: 1;
}

.text-column h4 {
    font-size: 32px;
    font-weight: 300;
}

.project-column {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-7 {
    width: 58.33333333%;
}

.w-col-5 {
    width: 41.66666667%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: unset;
    }

    .left-column {
        width: 100%;
        order: 2;
    }

    .hero {
        height: unset;
    }

    .right-column {
        position: static;
        margin-top: 20px;
        order: 1;
    }
}


/* Your existing CSS styles here */

.projects-trigger {
    /* Create a full-height element to trigger the projects section animation */
    height: 100vh;
    position: sticky;
    top: 100vh;
    z-index: 1;
    /* Add a higher z-index to ensure it doesn't overlap the right column */
    background-color: transparent;
}
