* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(47, 66, 104) !important;
}

.page-container {
    margin: 0 100px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 50px 50px 0px;
    display: flex;
    justify-content: space-between;
}

.home {
    font-weight: bolder;
}

.navbar::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
            rgba(10, 30, 60, 0.9) 0%,
            /* Darker starting color (adjust RGB values as needed) */
            rgba(10, 30, 60, 0.4) 50%,
            /* Darker middle color (adjust RGB values as needed) */
            rgba(10, 30, 60, 0) 100%
            /* Darker ending color (adjust RGB values as needed) */
        );
    filter: blur(10px);
    z-index: -1;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    fill: #E6EDF3;
    /* Set the fill color of the icon */
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    margin-top: -100px;
}

.left-column {
    flex: 1;
    padding: 2rem;
}

.right-column {
    flex: 1;
    /* position: sticky; */
    top: 50%;
    padding: 2rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

.hero-text {
    flex: 1;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: #666;
}

.hero-image {
    transition: transform 0.3s ease;
}

.hero-image:hover {
    transform: scale(1.05);
    /* Increase this value for a larger scale */
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.about-me-wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 50px;
    gap: 100px;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

}

.project-container h4 {
    margin: 0 auto;
}

.project-container img {
    width: 50%;
    margin-top: 25px;
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.project-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    /* Add a white box shadow on hover */
    /* Scale the image up by 10% on hover */
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: unset;
    }

    .left-column {
        width: 100%;
        order: 2;
    }

    .hero {
        height: unset;
    }

    .right-column {
        position: static;
        margin-top: 20px;
        order: 1;
    }
}


/* Your existing CSS styles here */

.projects-trigger {
    /* Create a full-height element to trigger the projects section animation */
    height: 100vh;
    position: sticky;
    top: 100vh;
    z-index: 1;
    /* Add a higher z-index to ensure it doesn't overlap the right column */
    background-color: transparent;
}
