* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(47, 66, 104) !important;
}

.navbar {
    /* position: sticky; */
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 50px;
}

.navbar::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(47, 66, 104, 0.7) 0%, rgba(47, 66, 104, 0) 100%);
    z-index: -1;
}

.container {
    display: flex;
    height: 100vh;
    margin-top: -100px;
}

.left-column {
    flex: 1;
    padding: 2rem;
    overflow-y: scroll;
    /* change to overflow-y: auto */
    scroll-snap-type: y mandatory;
}

.left-column::-webkit-scrollbar {
    display: none;
    /* hide scrollbar on WebKit browsers */
}

.right-column {
    flex: 1;
    position: sticky;
    top: 50%;
    padding: 2rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

.hero-text {
    flex: 1;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: #666;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.content-wrapper {
    scroll-snap-align: start;
    padding: 100px 0;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: unset;
    }

    .left-column {
        width: 100%;
        order: 2;
    }

    .hero {
        height: unset;
    }

    .right-column {
        position: static;
        margin-top: 20px;
        order: 1;
    }
}
